<div class="recipe-contribution-contents">
  <header class="recipe-contribution-header">
    <%= link_to image_tag('sachiale-logo-title.png' , size: '185x50'), "/" %>

  </header>
  <div class="recipe-contribution-main">
    <h2 class="recipe-contribution-title">レシピ情報を入力</h2>
    <%= form_with model: @blog, local: true do |f| %>

    <%= render 'shared/error_messages', model: @blog %>

    <%# 投稿画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        レシピ画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
        <div id="image-list"></div>
      </div>
      <div id="image-preview"></div>
    </div>
    <%# /投稿画像 %>
    <%# レシピ名とレシピ説明 %>
    <div class="new-blogs">
      <div class="weight-bold-text">
        レシピ名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :recipe_name, class:"blogs-text", id:"item-name", placeholder:"レシピ名（必須 40文字まで)", maxlength:"40" %>
      <div class="recipes-explain">
        <div class="weight-bold-text">
          レシピの説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :explain, class:"recipes-text", id:"item-info", placeholder:"レシピの説明（必須 2,000文字まで）" ,rows:"7" ,maxlength:"2000" %>
      </div>
      <fieldset>
        <legend>食材選択</legend>
        <% Item.where(user_id: current_user.id).each do |item| %>
          <label>
            <input type="checkbox" name="blog[item_ids][]" value=<%= item.id %> ><%= item.item_name %>
          </label>
        <% end %>
      </fieldset>
    </div>
    <%# /レシピ名とレシピ説明 %>
    <%# 材料費合計 %>
    <div class="dish-price">
      <div class="weight-bold-text question-text">
        <span>この料理にかかる食費</span>
        <a class="question" href="#">?</a>
      </div>
        <div class="price-content">
          <div class="price-text">
            <span>食費</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>
      </div>
    </div>
    <%# /材料費合計 %>
    <%# 下部ボタン %>
    <div class="contribution-btn-contents">
      <%= f.submit "投稿する" ,class:"contribution-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
  <footer class="recipes-contribution-footer">
    <%= link_to image_tag('sachiale-logo-title.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎sachiale,Inc.
    </p>
  </footer>
</div>
<% breadcrumb :blog_new %>