<%= render "shared/header" %>

<div class="recipe-show">
  <div class="recipe-box">
    <h2 class="name">
      <%= @blog.recipe_name %>
    </h2>
    <div class="recipe-img-content">
      <%= image_tag @blog.image, class: "recipe-box-image" %>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @blog.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">このレシピにかかる食費</th>
          <td class="detail-value"><%= @blog.price %></td>
        </tr>
        <tr>
          <th class="detail-item">材料</th>
          <td class="detail-value">'hoge'</td>
        </tr>
      </tbody>
    </table>
    <div class="recipe-explain-box">
      <span><%= @blog.explain %></span>
    </div>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-recipe-btn">
      ＜ 前のレシピ
    </a>
    <a href="#" class="change-recipe-btn">
      後ろのレシピ ＞
    </a>
  </div>
</div>

<%= render "shared/footer" %>