<div class="items-save-contents">
  <header class="items-save-header">
    <%= link_to image_tag('sachiale-logo-title.png' , size: '185x50'), "/" %>

  </header>
  <div class="items-save-main">
    <h2 class="items-save-title">補充する食材の情報を入力</h2>
    <%= form_with model: @item, local: true do |f| %>

    <%= render 'shared/error_messages', model: @item %>

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        食材画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        食材名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :item_name, class:"items-text", id:"item-name", placeholder:"食材名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          食材のメモ
        </div>
        <%= f.text_area :memo, class:"items-text", id:"item-info", placeholder:"食材のメモ（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 商品の詳細 %>
    <div class="weight-bold-text">食材の詳細</div>
    <div class="items-detail">
      <div class="item-amount">
        <div class="weight-bold-text">
          補充数量
          <span class="indispensable">必須</span>
        </div>
        <div>
        <%= f.text_field :amount, class:"amount-input", placeholder:"例) 3" %>
        <div class="unit-text">
          単位選択
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:unit_id, Unit.all, :id, :name, {}, {class:"select-box", id:"item-amount"}) %>
        </div>
      </div>
      <div class="form-group">
        <div class='weight-bold-text'>
          <label class="form-text">賞味期限</label>
          <span class="indispensable">必須</span>
        </div>
        <div class='input-open-wrap'>
          <%= raw sprintf(
                  f.date_select(
                    :open_date,
                    class:'select-open',
                    id:"open-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 2020,
                    end_year: (Time.now.year + 10),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
      </div>
      <div class="form" id="category-form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <select class="select-box" id="item-category">
          <option value="1" class="item[category_id]" selected>--</option>
          <option value="2" class="item[category_id]" >お肉類</option>
          <option value="3" class="item[category_id]" >野菜・果物類</option>
          <option value="4" class="item[category_id]" >魚介類</option>
          <option value="5" class="item[category_id]" >乾物・海藻類</option>
          <option value="6" class="item[category_id]" >きのこ・山菜類</option>
          <option value="7" class="item[category_id]" >卵類</option>
          <option value="8" class="item[category_id]" >イモ類</option>
          <option value="9" class="item[category_id]" >パン類</option>
          <option value="10" class="item[category_id]" >ごはん類</option>
          <option value="11" class="item[category_id]" >乳製品類</option>
          <option value="12" class="item[category_id]" >豆・豆腐・豆腐加工品類</option>
          <option value="13" class="item[category_id]" >麺類</option>
          <option value="14" class="item[category_id]" >調味料</option>
          <option value="15" class="item[category_id]" >飲み物</option>
        </select>
        <%# f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div id="item-meat">
          <div class="weight-bold-text">
            肉類の食材選択
          </div>
          <%= f.collection_select(:meat_id, Meat.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-vegetable">
          <div class="weight-bold-text">
            野菜類の食材選択
          </div>
          <%= f.collection_select(:vegetable_id, Vegetable.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-seafood">
          <div class="weight-bold-text">
            魚介類の食材選択
          </div>
          <%= f.collection_select(:seafood_id, Seafood.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-seaweed">
          <div class="weight-bold-text">
            乾物・海藻類の食材選択
          </div>
          <%= f.collection_select(:seaweed_id, Seaweed.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-mushroom">
          <div class="weight-bold-text">
            きのこ・山菜類の食材選択
          </div>
          <%= f.collection_select(:mushroom_id, Mushroom.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-egg">
          <div class="weight-bold-text">
            卵類の食材選択
          </div>
          <%= f.collection_select(:egg_id, Egg.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-corm">
          <div class="weight-bold-text">
            イモ類の食材選択
          </div>
          <%= f.collection_select(:corm_id, Corm.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-bread">
          <div class="weight-bold-text">
            パン類の食材選択
          </div>
          <%= f.collection_select(:bread_id, Bread.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-rice">
          <div class="weight-bold-text">
            ごはん類の食材選択
          </div>
          <%= f.collection_select(:rice_id, Rice.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-milk">
          <div class="weight-bold-text">
            乳製品類の食材選択
          </div>
          <%= f.collection_select(:milk_id, Milk.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-bean">
          <div class="weight-bold-text">
            豆・豆腐・豆腐加工品類の食材選択
          </div>
          <%= f.collection_select(:bean_id, Bean.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-noodle">
          <div class="weight-bold-text">
            麺類の食材選択
          </div>
          <%= f.collection_select(:noodle_id, Noodle.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
        <div id="item-seasoning">
          <div class="weight-bold-text">
            調味料類の選択
          </div>
          <%= f.collection_select(:seasoning_id, Seasoning.all, :id, :name, {}, {class:"select-box"}) %>
        </div>
      </div>
    </div>
    <%# /商品の詳細 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "補充する" ,class:"sell-btn" %>
      <%=link_to 'もどる', items_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">sachiale利用規約</a></li>
    </ul>
    <%= link_to image_tag('sachiale-logo-title.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎sachiale,Inc.
    </p>
  </footer>
</div>
<% breadcrumb :new_item %>