<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <div class="item-img-content">
      <%= image_tag @item.image, class:"item-box-image" %>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">食品名</th>
          <td class="detail-value"><%= @item.item_name %></td>
        </tr>
        <tr>
          <th class="detail-item">食品のメモ</th>
          <td class="detail-value"><%= @item.memo%></td>
        </tr>
        <tr>
          <th class="detail-item">保存数量</th>
          <td class="detail-value"><%= @item.amount %><%= @item.unit.name %></td>
        </tr>
        <tr>
          <th class="detail-item">賞味期限</th>
          <td class="detail-value"><%= @item.open_date %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
      </tbody>
    </table>
    <% if user_signed_in? && current_user.id == @item.user_id %>
      <%= link_to "食材の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
    <% end %>
      
    
  </div>
</div>

<%= render "shared/footer" %>